.test{
  background: shade(yellow,10%); //shade is a compass mixin (testing to see if compass library is successfully imported
  text-align: center;
  color: red;
  height: 100px;
  /*width: 100px;*/
}

