body{
  height: 100vh;
  #root{
    height: 100%;
    #index{
      font-family: Open Sans, Sans-serif;
      font-size: 12px;
      font-weight: 400;
      height: 100%;
      width: 100%;
      position: relative;
      #main{
        #main__buttons{
          margin-top: 10px;
          margin-bottom: 20px;
          padding: 10px;
          height: 40px;
          div{
            height: 100%;
          }
        }
      }
    }
  }
}
