<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Xun Chen">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>:Index</title>

    <!-- personal -->
    <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <div id="reactApp"></div>
    <!-- semantic elements:
    article,
    aside: defines conent aside from page content,
    details: Defines additional detaisl that the user can view or hide
    figcaption: Defines a caption for a <figure> element
    figure: Specifies self-contained content, like illustrations, diagrams, photos
    footer,
    header,
    main: main content of a doc
    mark: marked/highlighted text
    nav: navigation links
    section,
    summary: a visible heading for a details element
    time: a date/time
    -->
    <div class="test">
      hi
    </div>
    <div>
      <script type="text/javascript" charset="utf-8" src="script.js"></script>
    </div>
  </body>
</html>
