#header{
  font-size: 36px;
  background: #dfdfdf;
  font-family: "Open Sans";
  #headerLinks{
    font-size: 12px;
    font-weight: 300;
    padding-top: 24px;
    .active{
      color: red;
      text-decoration: underline;
    }
  }
}
