#List{
  padding: 5px;
  width: 100%;
  table{
    width: 100%;
    thead{
      font-size: 2rem;
      width: 100%;
      height: 50px;
      tr{
        width: 100%;
        height: 100%;
        th{
          text-align: center;
          &.completed-header{
            width: 10%;
          }
          &.task-header{
            width: 60%;
          }
          &.edit-header{
            width: 15%;
          }
          &.delete-header{
            width: 15%;
          }
        }
      }
    }
    tbody{
      .no-task{
        padding: 5vh 0;
        font-size: 24px;
        text-align: center;
      }
      font-size: 1rem;
      tr{
        td{
          padding: 10px;
          .List__TaskName{
            font-size: 2rem;
          }
        }
      }
      tr.List__addItem{
        td{
          padding: 5vh 3vw;
          height: 50px;
          font-size: 2rem;
        }
      }
    }
  }
}
